* {
  box-sizing: border-box;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

body { 
background: #ab0a0a;
margin: 0px;
 }

 h1 {
text-align: center;
padding: 20px;
color: #ffffff;
font-size: 20px;
 }

 h2 {
 	text-align: left;
 	color: #172B44;
 	padding-bottom: 20px;
 	font-size: 20px;
 }

#header {
position: relative;
background: #ffffff;
height: 75px;
border-bottom: solid;
margin-bottom: 20px;
font-family: 'Georgia', Times, Times New Roman, serif;
}

#name {
	float: left;
	position: relative;
	background: #172B44;
	text-align: center;
	width: 250px;
	color: #FFF2E1;
	height: 72px;
	left: 100px;
}

#navigation a{
	float: right;
	top: 10px;
	right: 30px;
	position: relative;
	padding: 20PX;
	display: inline-block;
}

#main {
	width: 960PX;
	position: relative;
	margin: 0 auto;
}

#profile {
	width: 220px;
	float: left;
}

#aboutMe {
	width: 60%;
	background: #ffffff;
	border: solid #dddddd;
	padding: 20px;
	left: 20px;
	margin-bottom: 20px;
	clear: both;
	float: left;
	position: absolute;
}

#connect {
	float: right;
	position: absolute;
	background: #ffffff;
	border: solid #dddddd;
	padding: 10px;
	right: 20px;
	width: auto;
	height: auto;
}

#footer {
clear: both;
position:absolute;
bottom:0;
width:100%;
height: 75px;
background: #ffffff;
border-top: solid;
margin-top: 20px;
}