* {
  box-sizing: border-box;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

body { 

 }

#header {
background: #ffffff;
border-bottom: #cccccc;
font-family: 'Georgia', Times, Times New Roman, serif;
}

#name {
	float: left;
	position: relative;
	background: #172B44;
	color: #FFF2E1;
	padding: 20px;
	left: 100px;
}

#navigation {
	float: right;
	position: relative;
	padding: 20PX;
}

#aboutMe {
	width: 960px;
	background: #ffffff;
	border: #dddddd;
	padding: 20px;
}

#maincontent {
	clear: both;
	float: left;
	position: relative;
}

#connent {
	position: relative;
}